html { 
    background: url("https://media.giphy.com/media/wUPieAgZGamRy/giphy.gif") no-repeat center center fixed transparent; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body{
    font-family: Verdana;
}
main{
    margin-left: 390px;
}
#nav_container{
    margin-top: 150px;
}
#nav_menu{
    margin-left: -30px;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 320px;
    height: 100%;
    font-size: 25px;
    display: block;
    background-color: #0736429a;
    padding-left: 20px;
    box-shadow: 3px 3px 30px #042a34bd;
}

.h3_white{
    font-size: 28px;
    font-weight: bold;
    color: white;
    padding-top: 30px;
}
.h2_white{
    font-size: 25px;
    font-weight: bold;
    color: white;
    padding-top: 30px;
}
.text_blue{
    color: #073642;
}
.text_white{
    color: white;
}
a{
    text-decoration: none;;
}
a:hover{
    color: #859900;
}
ul {
    list-style-type: none;
}
li{
    color: #white;
}
.form_box{
    width: 100%;
    height: 25px;
}
#formbox_width{
    width: 95%;
}
#formbox_width{
    width: 95%;
}
#form_btn{
    width: auto;
    height: auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #073642; 
    padding: 5px 15px 5px 15px;
    margin: 10px;
    font-size: 22px;
    color: white;
    text-decoration: none;
 }
#form_btn:hover{
    background-color: #859900; 
}
#form_box{
    width: 100%;
    height: 25px;
}

#index_list{
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
}
#container{
    text-align: center;
    position: relative;
}
#index_card{
    width: 300px;
    height: auto;
    position: relative;
    margin-left: 380px;
    margin-top: -600px;
    padding: 20px 20px 20px 20px;
    border-radius: .5rem;
    background-color: #0736429a;
    text-align: left;
    text-shadow: 2px 2px #073642;
    box-shadow: 3px 3px 8px #042a34bd;
}
#index_card:hover{
    background-color: #5e990077;
}
#search_head{
    margin-top: 150px;
}
#search_form{
    margin-top: 25px;
}
#logo{
    margin-left: -20px;
    margin-top: 20px;
    opacity: 75%;
}
#logo:hover{
    opacity: 100%;
}
#search_index{
    margin-top: 200px;
    margin-left: 3px;
}
input{
    font-size: 16px;
}