#report_card{
    width: fit-content;
    min-width: 400px;
    height: auto;
    position: relative;
    float: center;
    padding: 20px 50px 50px 50px;
    border-radius: .5rem;
    background-color: #0736429a;
    color: #ffffffa8;
    text-align: left;
    box-shadow: 3px 3px 8px #042a34bd;
}