// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#session_card{
    width: fit-content;
    height: auto;
    position: relative;
    float: center;
    padding: 20px 50px 20px 50px;
    border-radius: .5rem;
    background-color: #0736429a;
    color: #ffffffa8;
    text-align: left;
    box-shadow: 3px 3px 8px #042a34bd;
}