<% @locations.map do |location| %>
    <div id="location_index_card">
        <%= link_to "#{location.country}: #{location.zipcode}", location_path(location), id: "location_index_list" %>
    </div>
<% end %>
