<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<style>

	</style>

</head>
	<body>
		<div class="window">
		<div class="location">

			<div class="beach" id="beach1" style="

			clip-path: polygon(0 100%, 4% 0, 100% 0, 100% 100%);

			"> </div>

		<div class="sea"> </div><div class="beach" id="beach2" style="

			clip-path: polygon(4% 100%, 0 0, 100% 0, 100% 100%);
			
			"> </div>

		<div class="sea"> </div><div class="beach" id="beach3" style="

			clip-path: polygon(3% 100%, 4% 0, 100% 0, 100% 100%);
			"> </div>
		<div class="sea"> </div><div id="beach4"> </div><div class="sea"> </div><div id="beach5"> </div><div class="sea"> </div><div id="beach6"> </div><div class="sea"> </div><div id="beach7"> </div><div class="sea"> </div><div id="beach8"> </div><div class="sea"> </div><div id="beach9"> </div><div class="sea"> </div><div id="beach10"> </div>
		</div>
		</div>
	</body>
</html>